.styledImput {
  width: 60%;
  font-size: 30px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(190, 234, 237),
    0.3em 0.3em 5em rgba(30, 129, 176, 0.5);
}
.styledImput:hover,
.styledImput:focus {
  border: 4px solid #1e81b0;
  outline: 0;
}
