.layoutBox {
  margin: 0 auto;
  position: relative;
  max-width: 1280px;
  gap: 10px;
  justify-content: center;
  height: 100vh;
}
.navigation {
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
}
.navlink {
  font-size: 30px;
  color: var(--secondaryBlackColor);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.navlink:hover,
.navlink:focus {
  color: #499bbf;
}
.navlink:active {
  color: var(--whiteColor);
}
.navlink:first-of-type {
  margin-bottom: 20px;
}
.btn:hover,
.btn:focus {
  color: black;
}

.active {
  color: #499bbf;
}
