.delete_btn {
  padding: 5px;
  font-size: 30px;
  border-radius: 10px;
}
.delete_btn:hover,
.delete_btn:focus {
  color: white;
  background-color: blue;
}
.contactsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
