.logOutBtn {
  padding: 5px 10px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em #1e81b0, 0 0 0 2px rgb(190, 234, 237),
    0.3em 0.3em 1em rgba(30, 129, 176, 0.5);
  color: white;
}
.logOutBtn:hover,
.logOutBtn:focus {
  color: black;
  border: 2px solid white;
}
.greetings {
  font-size: 40px;
  font-weight: 700;
}
.layOutformat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
